<div><img id="mainImg" src="/images/header3.jpg"></div>

<div class="row">
    <div id="quicksearch" class="col-xs-3">

        <h1>QUICK SEARCH</h1>
        <hr>

        <h4><a href="" ng-click="newbornF()">Newborns 0 - 2 (50 cm - 86 cm)<img src="/images/DownArrow.png"></a></h4>
        <div ng-show="newborn">
            <ul>
                <li><a href="" ng-click="">Kits</a></li>
                <li><a href="" ng-click="">Sliders, turtlenecks</a></li>
                <li><a href="" ng-click="">Body</a></li>
                <li><a href="" ng-click="">Onesie</a></li>
                <li><a href="" ng-click="">Headgear</a></li>
                <li><a href="" ng-click="">Baptismal wear</a></li>
                <li><a href="" ng-click="">Envelopes and Blankets</a></li>
                <li><a href="" ng-click="">Swaddles</a></li>
            </ul>
        </div>


        <h4><a href="" ng-click=kidsF()>Kids 12 months - 14 years (74 cm - 170 cm)<img src="/images/DownArrow.png"></a></h4>
        <div ng-show="kids">
            <ul>
                <li><a href="" ng-click="">Pants and Jeans</a></li>    
                <li><a href="" ng-click="">Capri and Shorts</a></li>
                <li><a href="" ng-click="">Skirts, Sarafans and Dresses</a></li>
                <li><a href="" ng-click="">Blouses and Shirts</a></li>
                <li><a href="" ng-click="">Tunics, Jumpers and  Vests</a></li>
                <li><a href="" ng-click="">Turtlenecks and Reglans</a></li>
                <li><a href="" ng-click="">Pullovers and Sports sweatshirts </a></li>
                <li><a href="" ng-click="">Knitted sweaters and Jackets</a></li>
                <li><a href="" ng-click="">T-shirts and Tops</a></li>
            </ul>
        </div>


        <h4><a href="" ng-click="outwear = true">Outwear<img src="/images/DownArrow.png"></a></h4>
        <div ng-show="outwear">
            <ul>
                <h5>Winter outwear</h5>
                <li><a href="" ng-click="">Winter envelopes</a></li>
                <li><a href="" ng-click='one_piece()'>One-piece overalls</a></li>
                <li><a href="" ng-click="">Kits(jackets and semo-overalls</a></li>
                <li><a href="" ng-click="">Jackets</a></li>
                <li><a href="" ng-click="">Semi-overalls</a></li>
                <li><a href="" ng-click="">Coats</a></li>
                <li><a href="" ng-click="">Termal underwear</a></li>
                <li><a href="" ng-click="">Accessories</a></li>


                <h5>Demi-season outwear</h5>
                <li><a href="" ng-click="">One-pieace overalls</a></li>
                <li><a href="" ng-click="">Sets</a></li>
                <li><a href="" ng-click="">Insulated jacets</a></li>
                <li><a href="" ng-click="">Jackets with a detachment</a></li>
                <li><a href="" ng-click="">Windbreaker</a></li>
                <li><a href="" ng-click="">Coats</a></li>
                <li><a href="" ng-click="">Pants</a></li>
            </ul>
        </div>


        <h4><a href="" ng-click="accessoriesF()">Accessories for outwear<img src="/images/DownArrow.png"></a></h4>
        <div ng-show="accessories">
            <ul>
                <li><a href="" ng-click="">Winter hats</a></li>
                <li><a href="" ng-click="">Mitties on neck</a></li>
                <li><a href="" ng-click="">Winter hats</a></li>
                <li><a href="" ng-click="">Gauntlets of the legs</a></li>
                <li><a href="" ng-click="">Fleece mottens with a heater</a></li>
                <li><a href="" ng-click="">Cotton hat for demi-season</a></li>
            </ul>
        </div>


        <h4><a href="" ng-click=sportswearF()>Sportswear<img src="/images/DownArrow.png"></a></h4>
        <div ng-show="sportswear">
            <ul>
                <li><a href="" ng-click="">Sportsuits</a></li>
                <li><a href="" ng-click="">Sports pants</a></li>
                <li><a href="" ng-click="">Tights and Leggings</a></li>
                <li><a href="" ng-click="">Sweatshirts</a></li>
                <li><a href="" ng-click="">T-shirts</a></li>
            </ul>
        </div>


        <h4><a href="" ng-click="formalF()">Formal clothing<img src="/images/DownArrow.png"></a></h4>
        <div ng-show="formal">
            <ul>
                <li><a href="" ng-click="">For Girls</a></li>
                <li><a href="" ng-click="">For Boys</a></li>
            </ul>
        </div>


        <h4><a href="" ng-click="linenF()">Linen<img src="/images/DownArrow.png"></a></h4>
        <div ng-show="linen">
            <ul>
                <li><a href="" ng-click="">Underwear</a></li>
                <li><a href="" ng-click="">Pajamas</a></li>
                <li><a href="" ng-click="">Lounge clothes</a></li>
            </ul>
        </div>


        <h4><a href="" ng-click="socksF()">Socks and Tights<img src="/images/DownArrow.png"></a></h4>
        <div ng-show="socks">
            <ul>
                <li><a href="" ng-click="">Socks, Knee socks</a></li>
                <li><a href="" ng-click="">Pantyhose</a></li>
                <li><a href="" ng-click="">Leggins</a></li>
                <li><a href="" ng-click="">Pants</a></li>
            </ul>
        </div>


        <h4><a href="" ng-click="hatsF()">Hats<img src="/images/DownArrow.png"></a></h4>
        <div ng-show="hats">
            <ul>
                <li><a href="" ng-click="">Spring-Summer</a></li>
                <li><a href="" ng-click="">Winter - Autumn</a></li>
            </ul>
        </div>




    </div>

    <div ng-show="catalogHome" class="  maindiv col-xs-9">
        <fieldset>
            <legend><span>CATALOG</span></legend>
            <div class="row">

                <div class="container col-xs-4">

                    <div>
                        <a id="regImgBC" href="boysCasual-en.html"><img class="smallCatalog" src="/images/boysPic.jpg"></a>
                    </div>

                    <div class="center">
                        <h3>CASUAL</h3>
                        <h2>BOYS</h2>
                        <h3>OUTWEAR</h3>
                    </div>

                    <div id="regImgBO">
                        <a href="boysOutwear.html"><img class="smallCatalog" src="/images/boysOutwear.jpg"></a>
                    </div>
                </div>



                <div class="container col-xs-4">
                    <div>
                        <a href="girlsCasual-en.html"><img class="smallCatalog" src="/images/girlsPic.jpg"></a>
                    </div>

                    <div class="center">
                        <h3>CASUAL</h3>
                        <h2>GIRLS</h2>
                        <h3>OUTWEAR</h3>
                    </div>

                    <div>
                        <a href="girlsOutwear.html"><img class="smallCatalog" src="/images/girlsOutwear.jpg"></a>
                    </div>
                </div>

                <div class="container col-xs-4">
                    <div>
                        <a href="accessories-en.html"><img class="smallCatalog" src="/images/accsessoraes.jpg"></a>
                    </div>

                    <div class="center">
                        <h3>ACCESSORIES</h3>
                        <h2>SEE MORE...</h2>
                        <h3>SALES</h3>
                    </div>

                    <div>
                        <a href="sales-en.html"><img class="smallCatalog" src="/images/saleLogo.jpg"></a>
                    </div>
                </div>


            </div>
        </fieldset>
    </div>

</div>
