<div><img id="mainImg" src="/images/header10.jpg"></div>
<div class="row">
    <div class=" contact_information col-xs-6">
        <h1>CONTACT INFORMATION</h1>
        <hr>

        <h2>Phone Number (from 09:00 to 21:00):</h2>
        
        <ul>
        <li>(050) 974 23 37</li>
        <li>(093) 202 63 00</li>
        <li>(068) 393 71 35</li>
            </ul>

        <hr>
        <h2>E-mail: <span>martin-kids@ukr.net</span></h2>

        <hr>
        <div><h2>Address: <span> 17 Entuziastov street, Kiev, Ukraine, office 4,5.<button ng-click="mapShow = !mapShow">See it on the MAP</button></span></h2> 
        
        
        <div ng-show="mapShow"></div>
        </div>
<!--
        <button ng-click="howtogetShow = !howtogetShow">How to get there</button>
        </div>

        <hr>
-->

<!--
        <div ng-show="howtogetShow" class=" contactShow showBrand row">
           <div class="col-xs-6">
            <h2>From the metro station " Drugbu Narodiv"</h2>
            <p>Bus #51,trolleybus#50,43, minibus#211,205,590,523,416. Bus stop " Bulvar Davudova".</p>
            <p>Walk trough the bridge. Then 7 min walk.</p>
            </div>

           <div class="col-xs-6">
            <h2>From metro station " Levoberegna"</h2>
            <p>Bus #48. Bus stop " Buvet" </p>
            </div>
        </div>
-->
   
   
   
   <div id="partners" class="row">
   <h1>OUR PARTNERS</h1>
   <hr>
       <div class="col-xs-6">
          
           <ul>
               <li><a href="http://babyzzz.com.ua">BABY ZZZ</a></li>
               <li><a href="http://mozayka.kiev.ua">MOZAIKA</a></li>
               <li><a href="http://best4baby.com.ua">BEST FOR BABY</a></li>
               <li><a href="http://emmi.com.ua">EMMI</a></li>
               <li><a href="http://parado.com.ua">PARADO</a></li>
               <li><a href="http://kindo.com.ua">KINDO</a></li>
           </ul>
       </div>
       
       <div class="col-xs-6">
           <ul>
               <li><a href="http://modniki.com.ua">MODNIKI</a></li>
               <li><a href="http://tapa.com.ua">TAPA</a></li>
               <li><a href="http://knopus.com.ua">KNOPUS</a></li>
               <li><a href="http://www.dreamskids.com.ua">DREAMS KIDS</a></li>
               <li><a href="http://zeep.com.ua">ZEEP</a></li>
               <li><a href="http://bambyno.com.ua">BAMBYNO</a></li>
           </ul>
       </div>
   </div>
    </div>


    <div class="col-xs-6">

        <div class="contact_online">
            <form id="contact" action="" method="post">
                <h3>On-Line Support</h3>
                <h4>Contact us with any questions</h4>
                <fieldset>
                    <input placeholder="Your name" type="text" tabindex="1" required autofocus>
                </fieldset>
                <fieldset>
                    <input placeholder="Your Email Address" type="email" tabindex="2" required>
                </fieldset>
                <fieldset>
                    <input placeholder="Your Phone Number (optional)" type="tel" tabindex="3" required>
                </fieldset>
                <fieldset>
                    <input placeholder="Your Web Site (optional)" type="url" tabindex="4" required>
                </fieldset>
                <fieldset>
                    <textarea placeholder="Type your message here...." tabindex="5" required></textarea>
                </fieldset>
                <fieldset>
                    <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
                </fieldset>
            </form>
        </div>

    </div>
</div>
